@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;800&display=swap');

:root {
    --grad: linear-gradient(107.34deg, #428AF5 4.98%, #9645FE 93.86%);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Jost", sans-serif;
    margin: 0;
}

main {
    font-family: "Jost", sans-serif;
    margin: auto ;
    text-align: center;
    width: 100%;
}

section {
    padding: 0 15%;
}

nav {
    padding-top: 40px;
}

strong { 
    font-weight: 500;
}

.underline {
    text-decoration: underline ;
}

.hero {
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    background: var(--grad);
    color: white;
}

h1 {
    font-size: 4rem;
    padding-bottom: 0;
    padding-top: 0;
    font-weight: 600;
    line-height: 6.25rem;
    padding-bottom: 1rem;
    
}

h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 69px;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.4rem;
}

p {
    font-size: 24px;
}
.cta {
    width: 241px;
    min-height: 72px;
    font-size: 32px;
    border-radius: 38.5px;
    border: none;
    cursor: pointer;
}

.logo-sales {
    max-width: 15.4rem;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.testimonial-image {
    max-width: 200px;
    border-radius: 50%;
    border: 4px solid;
    border-image-source: var(--grad);
    background: var(--grad);
}

@media only screen and (min-width: 40em) {
    .flex-wrapper {
        display: flex;
        gap: 2rem;
    }

    .desktop-align-right {
        text-align: start;
    }
}