@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;800&display=swap');

:root {
    --grad: linear-gradient(107.34deg, #428AF5 4.98%, #9645FE 93.86%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: "Jost", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

/* Navbar */

header {
    position: absolute;
    margin: 2.5rem 15%;
    color: white;
    width: calc(100vw - 30%);
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.nav-link {
    display: flex;
    align-items: center;
}

header img {
    cursor: pointer;
    width: 8rem;
}

.header-li {
    display: inline-block;
    margin: 0 3.75rem;
    cursor: pointer;
}

.header-li-black {
    display: inline-block;
    margin: 0 3.75rem;
    cursor: pointer;
    color: black;
}

.header-li a {
    transition: all 0.3s ease 0s;
    color: white;
}

.header-li a:hover {
    color: #e4e4e4;
}

/* Main decelerations */

main {
    font-family: "Jost", sans-serif;
    margin: auto;
    text-align: center;
    width: 100%;
}

section {
    margin: 15rem 15% 15rem 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* Text tags */

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-weight: 500;
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 1.5rem;
}

/* Text effects */

strong { 
    font-weight: 500;
}

.underline {
    text-decoration: underline ;
}

a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}

/* Global elements */

.btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.7rem;
    font-family: "Jost", sans-serif;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

btn:visited, btn:hover {
    text-decoration: none;
}

.small {
    font-size: 1.5rem;
}

.hero .btn {
    margin: 0 0 5rem 0;
}

.white-btn {
    background-color: #ffffff;
    color: black;
}

.white-btn:hover {
    background-color: #e4e4e4;
}

.black-btn {
    background-color: black;
    color: white;
}

.cta-margin {
    margin-top: 2rem;
}

.black-btn:hover {
    background-color: #1b1b1b;
    color: #e4e4e4;
}

/* Hero */

.hero h1 {
    margin: 5rem 0 0 0;
}

.hero h3 {
    margin: 2rem 0 2rem 0;
}

.main-heading {
    margin: 0 0 2rem 0;
}


.hero {
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    background: var(--grad);
    color: white;
}

/* Description section */

.logo-sales {
    max-width: 15.4rem;
}

/* Testimonial section */

.testimonial-image {
    max-width: 12.5rem;
    border-radius: 50%;
}

/* Work in progress */

.wip {
    margin: auto 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.wip h3 {
    margin-top: 2rem;
}

@media only screen and (min-width: 64em) { /* Desktop */
    .flex-wrapper {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .desktop-align-left  {
        text-align: start;
    }

    .logo-sales {
        max-width: 24.4rem;
    }
}

@media only screen and (max-width: 64em) {  /* Anything smaller than desktop */
    .hero h1, .hero h3 {
        padding: 0 15%;
    }
}

@media only screen and (max-width: 81em) { /* nav cutoff point*/
    header {
        margin: 2.5rem 7%;
        width: calc(100vw - 15%);
    }
}

@media only screen and (max-width: 66.75em) { /* nav mobile view */

}

@media only screen and (max-width: 26.5em) { /* Tiny phones */
    section {
        margin: 15rem 7.5% 0 7.5%;
    }
    .hero h1, .hero h3 {
        padding: 0 7.5%;
    }
}