@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;800&display=swap');

:root {
    --grad: linear-gradient(107.34deg, #428AF5 4.98%, #9645FE 93.86%);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Jost", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    font-family: "Jost", sans-serif;
    margin: auto;
    text-align: center;
    width: 100%;
}

section {
    margin: 15rem 15% 0 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 5rem 0 0 0;
}

h2 {
    font-weight: 500;
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 0 2rem 0;
}

p {
    font-size: 1.5rem;
    margin: 0;
}

strong { 
    font-weight: 500;
}

.underline {
    text-decoration: underline ;
}

.cta {
    padding: 0.8rem 1.5rem;
    font-size: 1.7rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}

.hero {
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
    background: var(--grad);
    color: white;
}

.hero h1, .hero h3 {
    padding: 0 15%;
}

.hero .cta {
    margin: 0 0 5rem 0;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
    margin-top: 2rem;
}

.logo-sales {
    max-width: 15.4rem;
}

.testimonial-image {
    max-width: 12.5rem;
    border-radius: 50%;
}

@media only screen and (min-width: 64em) {
    .flex-wrapper {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .desktop-align-left  {
        text-align: start;
    }

    .logo-sales {
        max-width: 24.4rem;
    }
}

@media only screen and (max-width: 26.5em) {
    section {
        margin: 15rem 7.5% 0 7.5%;
    }
    .hero h1, .hero h3 {
        padding: 0 7.5%;
    }
}